/resources/data/*
/resources/result/*
/resources/gen/*
.idea/
__pycache__/
/scrape/account.py
/resources/test/
/resources/train_state/
/resources/scrape/
/resources/pretrained_models/
/resources/generate/
/resources/vis/
